@use "./variables" as V;

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  z-index: 100;
  ul {
    display: flex;
    li {
      list-style-type: none;
      a {
        font-weight: 500;
        text-decoration: none;
        margin: 0 30px;
        color: V.$text-color;
        font-size: 1rem;
      }
      a:hover{
        color: V.$primary-color;
      }
    }
  }
  div {
    display: flex;
    gap: 10px;
    button:first-of-type {
      background: none;
      border: 1px solid V.$primary-color;
      padding: 10px 20px;
      border-radius: 30px;
      font-size: 1rem;

    }
    button:first-of-type:hover {
        background: V.$primary-color;
        color: white;
      }
    button:last-of-type {
      background: V.$primary-color;
      border: 1px solid V.$primary-color;
      border-radius: 30px;
      padding: 10px 20px;
      font-size: 1rem;
      color: white;
    }
    button:last-of-type:hover {
        background: none;
        color: black;
      }
  }
  > button{
    display: none;
  }
}

@media (max-width:900px){
    header{
      padding: 10px 30px;
        ul {
            display: none;
        }
        div{
            display: none;
        }
        button{
            display: block;
            border: none;
            background: none;
            font-size: 2rem;
        }
    }
}
