@use "./variables" as v;

.support{
    display: flex;
    background-color: #F9F8FE;
    padding: 100px 60px;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    > div:first-of-type{
        max-width: 50%;
        h3{
            font-size: 2rem;
        }
        p{
            margin: 30px 0;
            color: gray;
        }
        > div{
            display: flex;
            gap: 40px;
            div > div{
                display: flex;
                gap:5px;
                i{
                    color: rgb(255, 221, 0);

                }
            }
            h4{
                font-size: 1rem;
                font-weight: 700;
                margin-top: 20px;
            }
            p{
                margin-top: 2px;
            }
        }
    }
    > div:last-of-type{
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: flex-start;
        >div{
            display: flex;
            align-items: flex-start;
            gap: 10px;
            i{
                background: white;
                border-radius: 10px;
                padding: 20px;
                color: v.$primary-color;
                font-size: 1.5rem;
            }
            >div{
                h3{
                    font-size: 1rem;
                    margin: 5px 0;
                }
                p{
                    color: gray;
                }
            }
        }
    }
}

@media (max-width:700px){
    .support{
        flex-wrap: wrap;
        >div:first-of-type{
            max-width: 100%;
        }
    }
}